h1 {
  color: brown
}

.input {
  height:75px;
  background-color: brown;
}

#taskList {
  padding: 0; 
  list-style: none;
}

li {
  position: relative;
  background-color: wheat;
  padding: 5px;
  border: 2px solid brown;
  border-bottom: 1px;
  height: auto;
}

li:nth-last-child(1) {
  border-bottom: 2px solid brown;
}

#taskInp {
  width: 500px; 
  background-color: wheat;
  height: 30px;
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 5px
}

button {
  background-color: beige;
}

#addTask {
  height: 35px;
  width: 100px;
}

.complete, .edit, .delete, .addNote {
    float: right;
    width: 75px;
    height: 25px;
    color: beige;
    background-color: brown
}

.inactive>input{
  text-decoration: line-through;
  color: gray
}

.noEdit {
  color: black;
  background: transparent;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: medium
}

.editMode {
  border-color: brown;
  width: 500px;
  height: 25px;
}

li>input {
  width: 60%
}

.noteEdit {
  position: absolute;
  left: 6px;
  top: 40px;
  width: 50%;
  height: 65%;
  resize: none;
  font-size: medium;
  background-color: rgba(247, 184, 155, 0.5);
  border: none
}

.noteDone {
  display: none
}

button:disabled {
  background-color: gray
}